name: Alire Build

on:
  push:
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Alire
      uses: alire-project/setup-alire@v4

    - name: Build library
      run: alr build

    - name: Build tests
      run: alr build
      working-directory: tests

    - name: Run tests
      run: ./bin/test_runner
      working-directory: tests
